<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.beetle-psx">
		<category id="system" label="30071" help="30072">
			<group id="1">
				<setting id="beetle_psx_cpu_freq_scale" type="string" label="30029" help="30073">
					<level>0</level>
					<default>100%</default>
					<constraints>
						<options>
							<option>50%</option>
							<option>60%</option>
							<option>70%</option>
							<option>80%</option>
							<option>90%</option>
							<option label="30074">100%</option>
							<option>110%</option>
							<option>120%</option>
							<option>130%</option>
							<option>140%</option>
							<option>150%</option>
							<option>160%</option>
							<option>170%</option>
							<option>180%</option>
							<option>190%</option>
							<option>200%</option>
							<option>210%</option>
							<option>220%</option>
							<option>230%</option>
							<option>240%</option>
							<option>250%</option>
							<option>260%</option>
							<option>270%</option>
							<option>280%</option>
							<option>290%</option>
							<option>300%</option>
							<option>310%</option>
							<option>320%</option>
							<option>330%</option>
							<option>340%</option>
							<option>350%</option>
							<option>360%</option>
							<option>370%</option>
							<option>380%</option>
							<option>390%</option>
							<option>400%</option>
							<option>410%</option>
							<option>420%</option>
							<option>430%</option>
							<option>440%</option>
							<option>450%</option>
							<option>460%</option>
							<option>470%</option>
							<option>480%</option>
							<option>490%</option>
							<option>500%</option>
							<option>510%</option>
							<option>520%</option>
							<option>530%</option>
							<option>540%</option>
							<option>550%</option>
							<option>560%</option>
							<option>570%</option>
							<option>580%</option>
							<option>590%</option>
							<option>600%</option>
							<option>610%</option>
							<option>620%</option>
							<option>630%</option>
							<option>640%</option>
							<option>650%</option>
							<option>660%</option>
							<option>670%</option>
							<option>680%</option>
							<option>690%</option>
							<option>700%</option>
							<option>710%</option>
							<option>720%</option>
							<option>730%</option>
							<option>740%</option>
							<option>750%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_gpu_overclock" type="string" label="30042" help="30075">
					<level>0</level>
					<default>1x(native)</default>
					<constraints>
						<options>
							<option label="30076">1x(native)</option>
							<option>2x</option>
							<option>4x</option>
							<option>8x</option>
							<option>16x</option>
							<option>32x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_gte_overclock" type="string" label="30030" help="30077">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_cd_access_method" type="string" label="30053" help="30078">
					<level>0</level>
					<default>sync</default>
					<constraints>
						<options>
							<option label="30079">sync</option>
							<option label="30080">async</option>
							<option label="30081">precache</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_cd_fastload" type="string" label="30049" help="30082">
					<level>0</level>
					<default>2x(native)</default>
					<constraints>
						<options>
							<option label="30083">2x(native)</option>
							<option>4x</option>
							<option>6x</option>
							<option>8x</option>
							<option>10x</option>
							<option>12x</option>
							<option>14x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_skip_bios" type="string" label="30031" help="30084">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_override_bios" type="string" label="30054" help="30085">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option label="30086">psxonpsp</option>
							<option label="30087">ps1_rom</option>
							<option label="30088">openbios</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_region" type="string" label="30066" help="30089">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option label="30090">auto</option>
							<option label="30091">ntsc-j</option>
							<option label="30092">ntsc-u</option>
							<option label="30093">pal</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="video" label="30094" help="30095">
			<group id="1">
				<setting id="beetle_psx_internal_resolution" type="string" label="30001" help="30096">
					<level>0</level>
					<default>1x(native)</default>
					<constraints>
						<options>
							<option label="30076">1x(native)</option>
							<option>2x</option>
							<option>4x</option>
							<option>8x</option>
							<option>16x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_dither_mode" type="string" label="30002" help="30097">
					<level>0</level>
					<default>1x(native)</default>
					<constraints>
						<options>
							<option label="30076">1x(native)</option>
							<option label="30098">internal resolution</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_core_timing_fps" type="string" label="30037" help="30099">
					<level>0</level>
					<default>auto_toggle</default>
					<constraints>
						<options>
							<option label="30100">auto_toggle</option>
							<option label="30101">force_progressive</option>
							<option label="30102">force_interlaced</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_deinterlacer" type="string" label="30052" help="30103">
					<level>0</level>
					<default>weave</default>
					<constraints>
						<options>
							<option label="30104">weave</option>
							<option label="30105">bob</option>
							<option label="30106">bob_offset</option>
							<option label="30107">fastmad</option>
							<option label="30108">off</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_frame_duping" type="string" label="30064" help="30109">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_pal_video_timing_override" type="string" label="30065" help="30110">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_aspect_ratio" type="string" label="30043" help="30111">
					<level>0</level>
					<default>corrected</default>
					<constraints>
						<options>
							<option label="30112">corrected</option>
							<option label="30113">uncorrected</option>
							<option label="30114">4:3</option>
							<option label="30115">ntsc</option>
							<option label="30116">16:9</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_crop_overscan" type="string" label="30039" help="30117">
					<level>0</level>
					<default>smart</default>
					<constraints>
						<options>
							<option label="30118">disabled</option>
							<option label="30119">static</option>
							<option label="30120">smart</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_image_crop" type="string" label="30040" help="30121">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="30122">disabled</option>
							<option>1px</option>
							<option>2px</option>
							<option>3px</option>
							<option>4px</option>
							<option>5px</option>
							<option>6px</option>
							<option>7px</option>
							<option>8px</option>
							<option>9px</option>
							<option>10px</option>
							<option>11px</option>
							<option>12px</option>
							<option>13px</option>
							<option>14px</option>
							<option>15px</option>
							<option>16px</option>
							<option>17px</option>
							<option>18px</option>
							<option>19px</option>
							<option>20px</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_image_offset" type="string" label="30041" help="30123">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>-12px</option>
							<option>-11px</option>
							<option>-10px</option>
							<option>-9px</option>
							<option>-8px</option>
							<option>-7px</option>
							<option>-6px</option>
							<option>-5px</option>
							<option>-4px</option>
							<option>-3px</option>
							<option>-2px</option>
							<option>-1px</option>
							<option label="30122">disabled</option>
							<option>+1px</option>
							<option>+2px</option>
							<option>+3px</option>
							<option>+4px</option>
							<option>+5px</option>
							<option>+6px</option>
							<option>+7px</option>
							<option>+8px</option>
							<option>+9px</option>
							<option>+10px</option>
							<option>+11px</option>
							<option>+12px</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_initial_scanline" type="string" label="30044" help="30124">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30125">0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>22</option>
							<option>23</option>
							<option>24</option>
							<option>25</option>
							<option>26</option>
							<option>27</option>
							<option>28</option>
							<option>29</option>
							<option>30</option>
							<option>31</option>
							<option>32</option>
							<option>33</option>
							<option>34</option>
							<option>35</option>
							<option>36</option>
							<option>37</option>
							<option>38</option>
							<option>39</option>
							<option>40</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_last_scanline" type="string" label="30045" help="30126">
					<level>0</level>
					<default>239</default>
					<constraints>
						<options>
							<option>210</option>
							<option>211</option>
							<option>212</option>
							<option>213</option>
							<option>214</option>
							<option>215</option>
							<option>216</option>
							<option>217</option>
							<option>218</option>
							<option>219</option>
							<option>220</option>
							<option>221</option>
							<option>222</option>
							<option>223</option>
							<option>224</option>
							<option>225</option>
							<option>226</option>
							<option>227</option>
							<option>228</option>
							<option>229</option>
							<option>230</option>
							<option>231</option>
							<option>232</option>
							<option>233</option>
							<option>234</option>
							<option>235</option>
							<option>236</option>
							<option>237</option>
							<option>238</option>
							<option label="30127">239</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_initial_scanline_pal" type="string" label="30046" help="30128">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30125">0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>22</option>
							<option>23</option>
							<option>24</option>
							<option>25</option>
							<option>26</option>
							<option>27</option>
							<option>28</option>
							<option>29</option>
							<option>30</option>
							<option>31</option>
							<option>32</option>
							<option>33</option>
							<option>34</option>
							<option>35</option>
							<option>36</option>
							<option>37</option>
							<option>38</option>
							<option>39</option>
							<option>40</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_last_scanline_pal" type="string" label="30047" help="30129">
					<level>0</level>
					<default>287</default>
					<constraints>
						<options>
							<option>230</option>
							<option>231</option>
							<option>232</option>
							<option>233</option>
							<option>234</option>
							<option>235</option>
							<option>236</option>
							<option>237</option>
							<option>238</option>
							<option>239</option>
							<option>240</option>
							<option>241</option>
							<option>242</option>
							<option>243</option>
							<option>244</option>
							<option>245</option>
							<option>246</option>
							<option>247</option>
							<option>248</option>
							<option>249</option>
							<option>250</option>
							<option>251</option>
							<option>252</option>
							<option>253</option>
							<option>254</option>
							<option>255</option>
							<option>256</option>
							<option>257</option>
							<option>258</option>
							<option>259</option>
							<option>260</option>
							<option>261</option>
							<option>262</option>
							<option>263</option>
							<option>264</option>
							<option>265</option>
							<option>266</option>
							<option>267</option>
							<option>268</option>
							<option>269</option>
							<option>270</option>
							<option>271</option>
							<option>272</option>
							<option>273</option>
							<option>274</option>
							<option>275</option>
							<option>276</option>
							<option>277</option>
							<option>278</option>
							<option>279</option>
							<option>280</option>
							<option>281</option>
							<option>282</option>
							<option>283</option>
							<option>284</option>
							<option>285</option>
							<option>286</option>
							<option label="30130">287</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="pgxp" label="30131" help="30132">
			<group id="1">
				<setting id="beetle_psx_pgxp_mode" type="string" label="30023" help="30133">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option label="30134">memory only</option>
							<option label="30135">memory + CPU</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_pgxp_2d_tol" type="string" label="30024" help="30136">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>0px</option>
							<option>1px</option>
							<option>2px</option>
							<option>3px</option>
							<option>4px</option>
							<option>5px</option>
							<option>6px</option>
							<option>7px</option>
							<option>8px</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_pgxp_nclip" type="string" label="30025" help="30137">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_pgxp_texture" type="string" label="30067" help="30138">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="osd" label="30139" help="30140">
			<group id="1">
				<setting id="beetle_psx_display_internal_fps" type="string" label="30004" help="30141">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_display_osd" type="string" label="30051" help="30142">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30143" help="30144">
			<group id="1">
				<setting id="beetle_psx_analog_calibration" type="string" label="30005" help="30145">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_analog_toggle" type="string" label="30050" help="30146">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
							<option label="30147">enabled-analog</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_analog_toggle_combo" type="string" label="30007" help="30148">
					<level>0</level>
					<default>l1+r1+select</default>
					<constraints>
						<options>
							<option label="30149">l1+l2+r1+r2+start+select</option>
							<option label="30150">l1+r1+select</option>
							<option label="30151">l1+r1+start</option>
							<option label="30152">l1+r1+l3</option>
							<option label="30153">l1+r1+r3</option>
							<option label="30154">l2+r2+select</option>
							<option label="30155">l2+r2+start</option>
							<option label="30156">l2+r2+l3</option>
							<option label="30157">l2+r2+r3</option>
							<option label="30158">l3+r3</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_analog_toggle_hold" type="string" label="30008" help="30159">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30160">0</option>
							<option label="30161">1</option>
							<option label="30162">2</option>
							<option label="30163">3</option>
							<option label="30164">4</option>
							<option label="30165">5</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_enable_multitap_port1" type="string" label="30055" help="30166">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_enable_multitap_port2" type="string" label="30056" help="30167">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_gun_input_mode" type="string" label="30011" help="30168">
					<level>0</level>
					<default>lightgun</default>
					<constraints>
						<options>
							<option label="30169">lightgun</option>
							<option label="30170">touchscreen</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_gun_cursor" type="string" label="30012" help="30171">
					<level>0</level>
					<default>cross</default>
					<constraints>
						<options>
							<option label="30172">off</option>
							<option label="30173">cross</option>
							<option label="30174">dot</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_crosshair_color_p1" type="string" label="30057" help="30175">
					<level>0</level>
					<default>red</default>
					<constraints>
						<options>
							<option label="30176">red</option>
							<option label="30177">blue</option>
							<option label="30178">green</option>
							<option label="30179">orange</option>
							<option label="30180">yellow</option>
							<option label="30181">cyan</option>
							<option label="30182">pink</option>
							<option label="30183">purple</option>
							<option label="30184">black</option>
							<option label="30185">white</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_crosshair_color_p2" type="string" label="30058" help="30186">
					<level>0</level>
					<default>blue</default>
					<constraints>
						<options>
							<option label="30177">blue</option>
							<option label="30176">red</option>
							<option label="30178">green</option>
							<option label="30179">orange</option>
							<option label="30180">yellow</option>
							<option label="30181">cyan</option>
							<option label="30182">pink</option>
							<option label="30183">purple</option>
							<option label="30184">black</option>
							<option label="30185">white</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_mouse_sensitivity" type="string" label="30015" help="30187">
					<level>0</level>
					<default>100%</default>
					<constraints>
						<options>
							<option>5%</option>
							<option>10%</option>
							<option>15%</option>
							<option>20%</option>
							<option>25%</option>
							<option>30%</option>
							<option>35%</option>
							<option>40%</option>
							<option>45%</option>
							<option>50%</option>
							<option>55%</option>
							<option>60%</option>
							<option>65%</option>
							<option>70%</option>
							<option>75%</option>
							<option>80%</option>
							<option>85%</option>
							<option>90%</option>
							<option>95%</option>
							<option>100%</option>
							<option>105%</option>
							<option>110%</option>
							<option>115%</option>
							<option>120%</option>
							<option>125%</option>
							<option>130%</option>
							<option>135%</option>
							<option>140%</option>
							<option>145%</option>
							<option>150%</option>
							<option>155%</option>
							<option>160%</option>
							<option>165%</option>
							<option>170%</option>
							<option>175%</option>
							<option>180%</option>
							<option>185%</option>
							<option>190%</option>
							<option>195%</option>
							<option>200%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_negcon_response" type="string" label="30016" help="30188">
					<level>0</level>
					<default>linear</default>
					<constraints>
						<options>
							<option label="30189">linear</option>
							<option label="30190">quadratic</option>
							<option label="30191">cubic</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_negcon_deadzone" type="string" label="30017" help="30192">
					<level>0</level>
					<default>0%</default>
					<constraints>
						<options>
							<option>0%</option>
							<option>5%</option>
							<option>10%</option>
							<option>15%</option>
							<option>20%</option>
							<option>25%</option>
							<option>30%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="memcards" label="30193" help="30194">
			<group id="1">
				<setting id="beetle_psx_use_mednafen_memcard0_method" type="string" label="30059" help="30195">
					<level>0</level>
					<default>libretro</default>
					<constraints>
						<options>
							<option label="30196">libretro</option>
							<option label="30197">mednafen</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_enable_memcard1" type="string" label="30060" help="30198">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_shared_memory_cards" type="string" label="30061" help="30199">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_memcard_left_index" type="string" label="30062" help="30200">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30125">0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>22</option>
							<option>23</option>
							<option>24</option>
							<option>25</option>
							<option>26</option>
							<option>27</option>
							<option>28</option>
							<option>29</option>
							<option>30</option>
							<option>31</option>
							<option>32</option>
							<option>33</option>
							<option>34</option>
							<option>35</option>
							<option>36</option>
							<option>37</option>
							<option>38</option>
							<option>39</option>
							<option>40</option>
							<option>41</option>
							<option>42</option>
							<option>43</option>
							<option>44</option>
							<option>45</option>
							<option>46</option>
							<option>47</option>
							<option>48</option>
							<option>49</option>
							<option>50</option>
							<option>51</option>
							<option>52</option>
							<option>53</option>
							<option>54</option>
							<option>55</option>
							<option>56</option>
							<option>57</option>
							<option>58</option>
							<option>59</option>
							<option>60</option>
							<option>61</option>
							<option>62</option>
							<option>63</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_memcard_right_index" type="string" label="30063" help="30201">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option>0</option>
							<option label="30202">1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>22</option>
							<option>23</option>
							<option>24</option>
							<option>25</option>
							<option>26</option>
							<option>27</option>
							<option>28</option>
							<option>29</option>
							<option>30</option>
							<option>31</option>
							<option>32</option>
							<option>33</option>
							<option>34</option>
							<option>35</option>
							<option>36</option>
							<option>37</option>
							<option>38</option>
							<option>39</option>
							<option>40</option>
							<option>41</option>
							<option>42</option>
							<option>43</option>
							<option>44</option>
							<option>45</option>
							<option>46</option>
							<option>47</option>
							<option>48</option>
							<option>49</option>
							<option>50</option>
							<option>51</option>
							<option>52</option>
							<option>53</option>
							<option>54</option>
							<option>55</option>
							<option>56</option>
							<option>57</option>
							<option>58</option>
							<option>59</option>
							<option>60</option>
							<option>61</option>
							<option>62</option>
							<option>63</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="hacks" label="30203" help="30204">
			<group id="1">
				<setting id="beetle_psx_line_render" type="string" label="30026" help="30205">
					<level>0</level>
					<default>default</default>
					<constraints>
						<options>
							<option label="30206">default</option>
							<option label="30207">aggressive</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_widescreen_hack" type="string" label="30027" help="30208">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_widescreen_hack_aspect_ratio" type="string" label="30028" help="30209">
					<level>0</level>
					<default>16:9</default>
					<constraints>
						<options>
							<option>16:9</option>
							<option>16:10</option>
							<option>18:9</option>
							<option>19:9</option>
							<option>20:9</option>
							<option>21:9</option>
							<option>32:9</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_spu_silent_voice" type="string" label="30068" help="30210">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_cpu_dynarec" type="string" label="30033" help="30211">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="30212">disabled</option>
							<option label="30213">execute</option>
							<option label="30214">run_interpreter</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_dynarec_invalidate" type="string" label="30034" help="30215">
					<level>0</level>
					<default>full</default>
					<constraints>
						<options>
							<option label="30216">full</option>
							<option label="30217">dma</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_dynarec_op_cycles" type="string" label="30069" help="30218">
					<level>0</level>
					<default>2</default>
					<constraints>
						<options>
							<option label="30219">2</option>
							<option label="30220">1</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_dynarec_eventcycles" type="string" label="30035" help="30221">
					<level>0</level>
					<default>128</default>
					<constraints>
						<options>
							<option label="30222">128</option>
							<option>256</option>
							<option>384</option>
							<option>512</option>
							<option>640</option>
							<option>768</option>
							<option>896</option>
							<option>1024</option>
							<option>1152</option>
							<option>1280</option>
							<option>1408</option>
							<option>1536</option>
							<option>1664</option>
							<option>1792</option>
							<option>1920</option>
							<option>2048</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_dynarec_spu_samples" type="string" label="30036" help="30223">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30202">1</option>
							<option>4</option>
							<option>16</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="beetle_psx_dynarec_spgp_opt" type="string" label="30070" help="30224">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
